.widget {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    width: 300px;
}

.twitter-textnow-widget {

}

.twitter-touch-widget {

}

.twitter-enflick-widget {
}

.twitter-textnow-page {
    position: absolute;
    left: 320px;

}

.twitter-touch-page {
    position: absolute;
    left: 640px;
}

.twitter-enflick-page {
    position: absolute;
    left: 0;
}

.tweets {
    list-style: none;
}
.tweets li {
    margin-top: 30px;
}

.author {
    font-weight: bold;
}
